{{ nextpage }}
<a name="{{ anchor }}"> </a>
{% if pm.is_illustration %}
{% if pm.image_src %}<img align="CENTER" src="{{ pm.image_src }}">{% endif %}
{% for p in pm.blocks %}
<p align="CENTER">{{ p | render_inlines }}</p>
{% endfor %}
{% elif not pm.blocks and not pm.headings and not pm.top_title and not pm.footnote_block and not pm.signature_block %}
<p>&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;</p>
{% else %}
{% if pm.top_title %}
<p align="CENTER">{{ pm.top_title | safe }}</p>
{% endif %}
{% for h in pm.headings %}
<h{{ h.level }} align="{{ h.align }}">{{ h.text | safe }}</h{{ h.level }}>
{% endfor %}
{% for p in pm.blocks %}
{% if p.is_quote %}
<blockquote>
<p align="JUSTIFY">{{ p | render_inlines }}</p>
</blockquote>
{% elif p.is_small %}
<p align="{{ p.align }}"><small>{{ p | render_inlines }}</small></p>
{% else %}
<p align="{{ p.align }}">{{ p | render_inlines }}</p>
{% endif %}
{% endfor %}
{% if pm.signature_block %}
<table width="96%">
<tbody><tr>
<td align="CENTER" width="45%"><small>{% for p in pm.signature_block.left %}{{ p | render_inlines }}{% if not loop.last %}<br><br>{% endif %}{% endfor %}</small></td>
<td> </td>
<td align="CENTER" valign="TOP" width="45%"><small>{% for p in pm.signature_block.right %}{{ p | render_inlines }}{% if not loop.last %}<br><br>{% endif %}{% endfor %}</small></td>
</tr></tbody>
</table>
{% endif %}
{% if pm.has_bottom_hr %}
<hr style="width:25%; text-align:left; margin-left:0;">
{% endif %}
{% if pm.footnote_block %}
<p align="JUSTIFY"><small>{{ pm.footnote_block | render_inlines }}</small></p>
{% endif %}
{% endif %}