{{ nextpage }}
<a name="{{ anchor }}"> </a>
{% if pm.is_illustration %}
{% include "illustration_fragment.html.j2" %}
{% elif pm.is_blank %}
<p>&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;&nbsp;<br>&nbsp;</p>
{% else %}
{% if pm.running_header %}
{% if pm.running_header[0] %}
<p class="running-header">{{ pm.running_header[0] }}<span class="page-num">{{ pm.running_header[1] }}</span></p>
<hr>
{% else %}
<p align="RIGHT">{{ pm.running_header[1] }}</p>
{% endif %}
{% endif %}
{% if pm.heading_blocks %}
{% for item in pm.heading_blocks %}
{% if item.level is defined %}
<h{{ item.level }} align="{{ item.align }}">{{ item.text | safe }}</h{{ item.level }}>
{% else %}
<p class="heading-label" align="{{ item.align }}">{{ item | render_inlines }}</p>
{% endif %}
{% endfor %}
{% else %}
{% for h in pm.headings %}
<h{{ h.level }} align="{{ h.align }}">{{ h.text | safe }}</h{{ h.level }}>
{% endfor %}
{% endif %}
{% for p in pm.blocks %}
{% if p.heading_level %}
<h{{ p.heading_level }} align="{{ p.align }}">{{ p | render_inlines }}</h{{ p.heading_level }}>
{% elif p.is_quote %}
<blockquote>
<p align="{{ p.align }}">{{ p | render_inlines }}</p>
</blockquote>
{% elif p.is_small %}
<p align="{{ p.align }}"><small>{{ p | render_inlines }}</small></p>
{% else %}
<p align="{{ p.align }}">{{ p | render_inlines }}</p>
{% endif %}
{% endfor %}
{% if pm.signature_block %}
<table width="96%">
<tbody><tr>
<td align="CENTER" width="45%"><small>{% for p in pm.signature_block.left %}{{ p | render_inlines }}{% if not loop.last %}<br><br>{% endif %}{% endfor %}</small></td>
<td> </td>
<td align="CENTER" valign="TOP" width="45%"><small>{% for p in pm.signature_block.right %}{{ p | render_inlines }}{% if not loop.last %}<br><br>{% endif %}{% endfor %}</small></td>
</tr></tbody>
</table>
{% endif %}
{% if pm.has_bottom_hr %}
<hr class="footnote-hr">
{% endif %}
{% if pm.footnote_block %}
<p align="JUSTIFY"><small>{{ pm.footnote_block | render_inlines }}</small></p>
{% endif %}
{% endif %}